# Python Functions

In [1]:
def my_function():
    print("Hello from a function")
my_function()

Hello from a function

# Arguments

In [5]:
def my_function(fname):
    print( "Docter " + fname)
    print( "Engineer " + fname)
my_function("Sanil")
my_function("Laddha")
my_function("Jay")

Docter Sanil
Engineer Sanil
Docter Laddha
Engineer Laddha
Docter Jay
Engineer Jay

# Number of Arguments

In [7]:
def my_function(fname,mname,lname):
    print(fname + " " + mname + " " + lname)
my_function("Jay", "Ram", "Thakur")

Jay Ram Thakur

In [13]:
def my_function(*kids):
    print("The youngest child is " + kids[0])
my_function("Abhisehek", "Ammar", "Sanskar")

The youngest child is Abhisehek

# Keyword Arguments

In [15]:
def my_function(child3, child2, child1, child4):
    print("The Youngest child is " + child4)
my_function(child1 = "Ram", child2 = "Krishna", child3 = "Hari", child4 = "Kali Maa")

The Youngest child is Kali Maa

# Arbitary Keyword Arguments

In [17]:
def my_function(**kid):
    print("His first name is " + kid["fname"])
    print("His last name is " + kid["lname"])
my_function(fname = "Ram", lname = "Thakur")

His first name is Ram
His last name is Thakur

# Default Parameter Value

In [19]:
def my_function(country = "India"):
    print("I am from " + country)
my_function("Brazil")
my_function("Norway")
my_function("USA")
my_function()

I am from Brazil
I am from Norway
I am from USA
I am from India

# Passing a List as an Argument

In [39]:
def my_function(fruits,names):
    for x in fruits:
        print(x)
    for y in names:
        print(y)
fruits = ["Apple", "Banana", "Mango", "Pineapple"]
names = ["Jay", "Ammar", "Ritesh", "Sanskar"]
my_function(fruits,names)

Apple
Banana
Mango
Pineapple
Jay
Ammar
Ritesh
Sanskar

# Pass by Reference vs Value

In [41]:
def testfunction(arg):
   print ("Inside function:",arg)
   print ("ID inside the function:", id(arg))
   arg=arg.append(90)
   
var=[10, 20, 30, 40]
print ("ID before passing:", id(var))
testfunction(var)
print ("list after function call", var)

ID before passing: 2520317468224
Inside function: [10, 20, 30, 40]
ID inside the function: 2520317468224
list after function call [10, 20, 30, 40, 90]

# Types of Python Function Arguments

# Positional or Required Arguments

In [51]:
def printme(str):
    print(str)
    return;
printme()

TypeError: printme() missing 1 required positional argument: 'str'

# Keyword Arguments

In [48]:
def printinfo (name,age):
    print("Name: ",name)
    print("Age: ",age)
    return;
printinfo(age = 18, name = "Jay")

Name:  Jay
Age:  18

# Default Arguments

In [53]:
def printinfo(name,age = 18):
    print("Name: ",name)
    print("Age: ",age)
    return;
printinfo(age = 27, name = "Jay")
printinfo(name = "Jay")

Name:  Jay
Age:  27
Name:  Jay
Age:  18

# Positional-only Arguments

In [56]:
def posFun(x, y, /, z):
    print(x + y + z)

print("Evaluating positional-only arguments: ")
posFun(33, 22, z=11)

Evaluating positional-only arguments:
66

# Keyword-only Arguments

In [59]:
def posFun(*, num1, num2, num3):
    print(num1 * num2 * num3)

print("Evaluating keyword-only arguments: ")
posFun(num3=6, num2=8, num1=5)

Evaluating keyword-only arguments:
240

# Arbitrary or Variable-length Arguments

In [62]:
def printinfo( arg1, *vartuple ):
   "This prints a variable passed arguments"
   print ("Output is: ")
   print (arg1)
   for var in vartuple:
      print (var)
   return;
printinfo(10)
printinfo(70,60,50)

Output is:
10
Output is:
70
60
50

# Python Function with Return Value

In [65]:
def add(x,y):
   z=x+y
   return z
a=450
b=570
result = add(a,b)
print ("a = {} b = {} a+b = {}".format(a, b, result))

a = 450 b = 570 a+b = 1020

# Anonmyous Functions

In [72]:
sum = lambda arg1, arg2: arg1 + arg2;
print ("Value of total : ", sum( 32, 57 ))
print ("Value of total : ", sum( 43, 67 ))

Value of total :  89
Value of total :  110

# Global vs. Local Variables

In [81]:
total = 0;
def sum( arg1, arg2 ):
   total = arg1 + arg2;
   print ("Inside the function local total : ", total)
   return total;
sum( 10, 50 );
print ("Outside the function global total : ", total)

Inside the function local total :  60
Outside the function global total :  0

# Return Values

In [84]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

# Combine Positional-Only and Keyword-Only

In [87]:
def my_function(a, b, /, *, c, d):
  print(a + b + c + d)

my_function(4, 6, c = 9, d = 5)

24

# Recursion

In [90]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("Recursion Example Results:")
tri_recursion(9)

Recursion Example Results:
1
3
6
10
15
21
28
36
45

45

# Python Lambda

In [95]:
x = lambda a : a + 10
print(x(5))
x = lambda a, b : a * b
print(x(8, 7))
x = lambda a, b, c : a + b + c
print(x(9, 4, 2))

15
56
15

In [97]:
def myfunc(n):
  return lambda a : a * n

mydoubler = myfunc(2)
mytripler = myfunc(3)

print(mydoubler(56))
print(mytripler(90))

112
270