# Allow Duplicates

In [6]:
thislist = ["apple" , "banana" , "cherry" , "apple" , "cherry"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
print(len(thislist))

list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

list4 = ["abc", 34, True, 40, "male"]
print(type(list4))

thislist = list(("apple", "banana", "cherry")) 
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']
3
<class 'list'>
['apple', 'banana', 'cherry']

# Python - Access List Items

In [9]:
 thislist = ["apple", "banana", "cherry"]
 print(thislist[1])

banana

# Negative Indexing

In [12]:
 thislist = ["apple", "banana", "cherry"]
 print(thislist[-1])

cherry

# Range of Indexes

In [15]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", 
"mango"]
print(thislist[2:5])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", 
"mango"]
print(thislist[:4])

thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", 
"mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi']
['apple', 'banana', 'cherry', 'orange']
['cherry', 'orange', 'kiwi', 'melon', 'mango']

# Check if Item Exists

In [18]:
 thislist = ["apple", "banana", "cherry"]
 if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

 thislist = ["apple", "banana", "cherry"]
 if "mango" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

# Python - Change List Items

In [29]:
 thislist = ["apple", "banana", "cherry"]
 thislist[1] = "blackcurrant"
 print(thislist)

['apple', 'blackcurrant', 'cherry']

#  Change a Range of Item Values

In [32]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:2] = ["blackcurrant", "watermelon"]
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']
['apple', 'blackcurrant', 'watermelon', 'cherry']
['apple', 'watermelon']

# Python - Add List Items
 Append Items

In [35]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

# Insert Items

In [38]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1,"orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

#  Extend List

In [41]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

# Add Any Iterable

In [44]:
 thislist = ["apple", "banana", "cherry"]
 thistuple = ("kiwi", "orange")
 thislist.extend(thistuple)
 print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

#  Python - Remove List Items
 Remove Specified Item

In [47]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']
['apple', 'cherry', 'banana', 'kiwi']

# Remove Specified Index

In [52]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

thislist = ["apple", "banana", "cherry"]
del thislist

['apple', 'cherry']
['apple', 'banana']
['banana', 'cherry']

#  Clear the List

In [55]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

# Python - Loop Lists
 Loop Through a List

In [60]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
 print(x)

apple
banana
cherry

#  Loop Through the Index Numbers

In [65]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(thislist[i])

apple
banana
cherry

# Using a While Loop

In [69]:
 thislist = ["apple", "banana", "cherry"]
 i = 0
 while i < len(thislist):
  print(thislist[i])
  i = i + 1

apple
banana
cherry

#  Python - List Comprehension
 List Comprehension

In [74]:
 fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
 newlist = []
 for x in fruits:
  if "a" in x:
    newlist.append(x)
 print(newlist)

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']
['apple', 'banana', 'mango']

# Condition

In [77]:
 newlist = [x for x in fruits if x != "apple"]
 newlist = [x for x in fruits]

#  Iterable

In [99]:
newlist = [x for x in range(10)]
Accept only numbers lower than 5:
newlist = [x for x in range(10) if x < 5]

newlist = [x.upper() for x in fruits]

SyntaxError: invalid syntax (503991149.py, line 2)

#  Python - Sort Lists

In [91]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
[23, 50, 65, 82, 100]
['pineapple', 'orange', 'mango', 'kiwi', 'banana']
[100, 82, 65, 50, 23]
[50, 65, 23, 82, 100]

# Case Insensitive Sort

In [106]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]

thislist.sort(key = str.lower)
print(thislist)

thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']
['banana', 'cherry', 'Kiwi', 'Orange']
['cherry', 'Kiwi', 'Orange', 'banana']

#  Python - Copy Lists

In [109]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']
['apple', 'banana', 'cherry']

# Python - Join Lists

In [112]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3 = list1 + list2
print(list3)

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)
    
print(list1)

list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]
['a', 'b', 'c', 1, 2, 3]