# Allow Duplicates
Since tuples are indexed,they can have items with the same value

In [10]:
thistuple = ("apple","banana" , "cherry" , "apple" , "cherry")
print(thistuple)

tuple1 = ("apple", "banana" , "cherry")
tuple2 = (1 , 5, 7 , 9, 3)
tuple3 = (True, False , False)
tuple4 = ("abc", 34, True, 40, "male")
print(type(tuple4))

('applebanana', 'cherry', 'apple', 'cherry')
<class 'tuple'>

#  Different Ways of Creating a Tuple
 • Using round brackets
 • Without Brackets
 • Tuple Constructor
 • Empty Tuple
 • Single Element Tuple
 • Using Tuple Packing

In [13]:
 #Using Round Brackets
tup = ("gfg", "Python") 
print(tup)
 
 # Using Comma Separated
 # Creating a tuple without brackets
tup = 4, 5, 6
print(tup) 

 # Using Tuple Constructor
 # Creating a tuple using the tuple() constructor
tup = tuple([7, 8, 9])
print(tup)  

 # Creating an Empty Tuple
 # Creating an empty tuple
tup = ()
print(tup)  
# Single Element Tuple
 # Creating a single-element tuple
tup = (10, ) 
# Comma is important here
print(tup)  
# Output: (10,)
print(type(tup))
 # What if we do not use comma
tup = ( 10) 
# This an integer (not a tuple)
print(tup)  
print(type(tup))

('gfg', 'Python')
(4, 5, 6)
(7, 8, 9)
()
(10,)
<class 'tuple'>
10
<class 'int'>

#  The tuple() Constructor

In [18]:
thistuple = tuple(("apple", "banana", "cherry")) 

print(thistuple)

('apple', 'banana', 'cherry')

# Access Tuple Items

In [21]:
 thistuple = ("apple", "banana", "cherry")
 print(thistuple[1])

banana

#  Negative Indexing

In [24]:
 thistuple = ("apple", "banana", "cherry")
 print(thistuple[-1])

cherry

# Range of Indexes

In [29]:
 thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
 print(thistuple[2:5])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

#  Check if Item Exists

In [34]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
 print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# Change Tuple Values

In [37]:
 x = ("apple", "banana", "cherry")
 y = list(x)
 y[1] = "kiwi"
 x = tuple(y)
 print(x)

('apple', 'kiwi', 'cherry')

#  Add Items

In [40]:
 thistuple = ("apple", "banana", "cherry")
 y = list(thistuple)
 y.append("orange")
 thistuple = tuple(y)
 print(thistuple)

 thistuple = ("apple", "banana", "cherry")
 y = ("orange",)
 thistuple += y
 print(thistuple)

('apple', 'banana', 'cherry', 'orange')
('apple', 'banana', 'cherry', 'orange')

# Remove Items

In [43]:
 thistuple = ("apple", "banana", "cherry")
 y = list(thistuple)
 y.remove("apple")
 thistuple = tuple(y)
 print(thistuple)

thistuple = ("apple", "banana", "cherry")
 del thistuple
 print(thistuple)

('banana', 'cherry')

NameError: name 'thistuple' is not defined

#  Traversing Items of Python Tuples

In [48]:
tup = (1, 2, 3, 4, 5)

for x in tup:
    print(x, end=" ")

1 2 3 4 5

# Concatenation of Python Tuples

In [53]:
tup1 = (0, 1, 2, 3)
tup2 = ('python' , 'geek')
 # Concatenating above two
print(tup1 + tup2)

(0, 1, 2, 3, 'python', 'geek')

#  Nesting of Python Tuples

In [56]:
tup1 = (0, 1, 2, 3)
tup2 = ('python', 'geek')
tup3 =(tup1, tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'geek'))

# Repetition Python Tuples

In [61]:
tup = ('python',)*3
print(tup)

('python', 'python', 'python')

# Slicing Tuples in Python

In [64]:
 tup = (0 ,1, 2, 3)
 print(tup[1:])
 print(tup[::-1])
 print(tup[2:4])

(1, 2, 3)
(3, 2, 1, 0)
(2, 3)

#  Finding the Length of a Python Tuple

In [67]:
tup = ('python', 'geek')
print(len(tup))

2

#  Multiple Data Types With Tuple

In [70]:
tup = ("immutable", True, 23)
print(tup)

('immutable', True, 23)

#  Converting a List to a Tuple

In [75]:
 a = [0, 1, 2]
 tup = tuple(a)
 print(tup)

(0, 1, 2)

#  Unpacking a Tuple in Python

In [78]:
a, b, c = (100, 200,300)
print(a)  
print(b)  
print(c)

100
200
300

# Tuple Unpacking Techniques

#  1.
 Using _ for Unused Values If we don’t need certain values, use _ as a throwaway variable 
or placeholder:

In [88]:
a,b,c = (100,200,300) 
print(a)  
print(c)

100
300

#  2. Using * for Variable-Length Unpacking

In [93]:
a, *b = (1, 2, 3, 4, 5)
print(a)   
print(b)   

 
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)

 
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

1
[2, 3, 4, 5]
apple
banana
['cherry', 'strawberry', 'raspberry']
apple
['mango', 'papaya', 'pineapple']
cherry

#  3. Unpacking Nested Tuples

In [96]:
nested_tuple = (1, (2, 3), 4)
a, (b, c), d = nested_tuple
print(a)   
print(b)   
print(c)   
print(d)

1
2
3
4

# 4. Tuple Unpacking with * in Function arguments

#  a. using args: When defining a function, args allows passing multiple arguments as a tuple:

In [100]:
def add(*args):
 return sum(args)
print(add(1, 2, 3 , 4))

10

# b. Using * for Argument Unpacking: Tuple unpacking can also be used when calling a function:

In [103]:
 def add(a, b, c):
   return a +b + c
 nums = (1, 2, 3)
 print(add(* nums))

6

# Loop Through a Tuple

In [110]:
 thistuple = ("apple", "banana", "cherry")
 for x in thistuple:

  print(x)

apple
banana
cherry

# Loop Through the Index Numbers

In [113]:
 thistuple = ("apple", "banana", "cherry")
 for i in range(len(thistuple)):
  print(thistuple[i])

t = ('red', 'green', 'blue', 'yellow')

for i, color in enumerate(t):
    print(f"Index {i}: {color}")

apple
banana
cherry
Index 0: red
Index 1: green
Index 2: blue
Index 3: yellow

#  Using a While Loop

In [116]:
 thistuple = ("apple", "banana", "cherry")
 i = 0
 while i < len(thistuple):
  print(thistuple[i])
  i = i + 1

t = ('red', 'green', 'blue', 'yellow')

i = 0

 while i < len(t):
    print(t[i])
    i += 1

apple
banana
cherry
red
green
blue
yellow

# Join Two Tuples

In [121]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

#  Joining Tuples Using List Comprehension

In [124]:
T1 = (36, 24, 3)
T2 = (84, 5, 81)
joined_tuple = [item for subtuple in [T1, T2] for item in subtuple]
print("Joined Tuple:", joined_tuple)

Joined Tuple: [36, 24, 3, 84, 5, 81]

# Joining Tuples Using extend() Function
 The extend() function is not used for joining 
tuples in Python. It is used to extend a list by 
appending elements from another iterable 
(such as another list), effectively merging the 
two lists together.

In [127]:
 T1 = (10,20,30,40)
 T2 = ('one', 'two', 'three', 'four')
 L1 = list(T1)
 L2 = list(T2)
 L1.extend(L2)
 T1 = tuple(L1)
 print ("Joined Tuple:", T1)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

#  Join Tuples using sum() Function
 In Python, the sum() function is used to add up all the elements in an iterable, such as a list, 
tuple, or set. It takes an iterable as its argument and returns the sum of all the elements in that 
iterable.
 We can join a tuple using the sum() function by providing the tuple as an argument to the sum() 
function. However, since the sum() function is specifically designed for numeric data types, this 
method only works for tuples containing numeric elements. It will add up all the numeric 
elements in the tuple and return their sum.
 Syntax Following is the syntax for using the sum() function to join tuples in Python −
 result_tuple = sum((tuple1, tuple2), ()) Here, the first argument is a tuple containing the tuples to 
be joined. The second argument is the starting value for the sum. Since we are joining tuples, we 
use an empty tuple () as the starting value.

In [132]:
T1 = (10,20,30,40)
T2 = ('one', 'two', 'three', 'four')
T3 = sum((T1, T2), ())
sum((T1, T2), ())
print ("Joined Tuple:", T3)

Joined Tuple: (10, 20, 30, 40, 'one', 'two', 'three', 'four')

# Multiply Tuples

In [135]:
 fruits = ("apple", "banana", "cherry")
 mytuple = fruits * 2
 print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# Joining Tuples using for Loop
 A for loop in Python is used for iterating over a sequence (such as a list, tuple, string, or range) 
and executing a block of code for each element in the sequence. The loop continues until all 
elements have been processed.
 We can join a tuple using a for loop by iterating over the elements of one tuple and appending 
each element to another tuple with the "+=" operator.

In [138]:
 T1 = (10,20,30,40)
 T2 = ('one', 'two', 'three', 'four')
 for t in T2:
   T1+=(t,)
 print (T1)

(10, 20, 30, 40, 'one', 'two', 'three', 'four')

# Count() Method
 The count() method of Tuple returns the number of times the given element appears in the 
tuple.
 Syntax:
 tuple.count(element)

In [143]:
Tuple1 = (0, 1, 2, 3, 2, 3, 1, 3, 2) 
Tuple2 = ('python', 'geek', 'python',  
          'for', 'java', 'python') 
res = Tuple1.count(3) 
print('Count of 3 in Tuple1 is:', res) 
res = Tuple2.count('python') 
print('Count of Python in Tuple2 is:', res)
Tuple = (0, 1, (2, 3), (2, 3), 1,  
         [3, 2], 'geeks', (0,)) 
res = Tuple.count((2, 3)) 
print('Count of (2, 3) in Tuple is:', res) 
res = Tuple.count([3, 2]) 
print('Count of [3, 2] in Tuple is:', res)

Count of 3 in Tuple1 is: 3
Count of Python in Tuple2 is: 3
Count of (2, 3) in Tuple is: 2
Count of [3, 2] in Tuple is: 1

#  Index() Method
 The Index() method returns the first occurrence of the given element from the tuple.
 Syntax:
 tuple.index(element, start, end) Parameters:
 • element: The element to be searched.
 • start (Optional): The starting index from where the searching is started
 • end (Optional): The ending index till where the searching is done
 Note: This method raises a ValueError if the 
element is not found in the tuple.

In [146]:
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2)
res = Tuple.index(3) 
print('First occurrence of 3 is', res) 
res = Tuple.index(3, 4) 
print('First occurrence of 3 after 4th index is:', res)
First occurrence of 3 is 3
First occurrence of 3 after 4th index is: 5
Tuple = (0, 1, 2, 3, 2, 3, 1, 3, 2) 
res =Tuple.index(4)

SyntaxError: invalid decimal literal (3438918136.py, line 7)