# Practical Assignment 2
# use tuple for the following program

#  1.store and display studenet information (name,age,grade)

In [ ]:
student_info = ("Jay", 19, "A Grade")

print(f"Name: {student_info[0]}")
print(f"Age: {student_info[1]}")
print(f"Grade: {student_info[2]}")

Name: Sanskar
Age: 19
Grade: A Grade

# 2.list prices of grocery items and total them

In [7]:
grocery_items = [("Rice", 50),("Milk", 30),("Eggs", 60),("Bread", 25),("Butter", 40)]

total_cost = sum(item[1] for item in grocery_items)

print("Grocery List:")
for item, price in grocery_items:
    print(f"{item}: ₹{price}")

print(f"\nTotal Cost: ₹{total_cost}")

Grocery List:
Rice: ₹50
Milk: ₹30
Eggs: ₹60
Bread: ₹25
Butter: ₹40

Total Cost: ₹205

# 3.pair items with prices using tuple
# ("Milk", 25),("Eggs", 50),("Bread", 20)

In [10]:
items = ("Milk", "Eggs", "Bread")
prices = (25, 50, 20)

item_price_pairs = tuple(zip(items, prices))

print(item_price_pairs)

(('Milk', 25), ('Eggs', 50), ('Bread', 20))

# 4.store and display train schedule as tuple
# ("Rajdhani", "10:00"),("shatabdi", "12:30"),("Duronto", "17:00")

In [15]:
train_schedule = (("Train Name", "Departure"),("Rajdhani", "10:00"),("Shatabdi", "12:30"), ("Duronto", "17:00"))

print("Train Schedule:")
for train in train_schedule:
    print(f"{train[0]:<10} {train[1]:<15}")

Train Schedule:
Train Name Departure
Rajdhani   10:00
Shatabdi   12:30
Duronto    17:00

# 5.sort employee records by salary
# ("John", "40000"),("Alice", "55000"),("Raj", "30000")

In [20]:
employees = [("John", "40000"), ("John", "40000"), ("John", "40000")]

sorted_employees = sorted(employees, key=lambda x: int(x[1]))
print("Employees sorted by salary:")
for employee in sorted_employees:
    print(employee)

Employees sorted by salary:
('John', '40000')
('John', '40000')
('John', '40000')

# 6.count how many studs scored above 75 marks
# marks=(67,88,92,74,76,55)

In [23]:
student_marks = (67,88,92,74,76,55)

count_above_75 = sum(1 for mark in student_marks if mark > 75)

print(f"Number of students who scored above 75: {count_above_75}")

Number of students who scored above 75: 3

# 7.Create a tuple of stock prices and find the max.
# Prices (154.5, 160.2, 149.8, 170.1)

In [28]:
stock_prices = (154.5, 160.2, 149.8, 170.1)

max_price_tuple = (max(stock_prices),)

print("Stock Prices:", stock_prices)
print("Maximum Stock Price as Tuple:", max_price_tuple)

Stock Prices: (154.5, 160.2, 149.8, 170.1)
Maximum Stock Price as Tuple: (170.1,)

# 8.Log temperature readings during the day. Find the average temperature
# temperatures = (29.5, 30.0, 32.2, 31.5, 28.9)

In [31]:
temperature_readings = (29.5, 30.0, 32.2, 31.5, 28.9) 

average_temperature = sum(temperature_readings) / len(temperature_readings)

result = (temperature_readings, average_temperature)

print("Temperature Readings:", result[0])
print("Average Temperature:", result[1])

Temperature Readings: (29.5, 30.0, 32.2, 31.5, 28.9)
Average Temperature: 30.419999999999998

# 9.Schedule appointments (name, time).
# appointments ("Doctor", "10:00 AM"), ("Meeting", "2:00 PM")

In [39]:
appointments = []

def schedule_appointment(name, time):
    appointment = (name, time)
    appointments.append(appointment)
    print(f"Appointment scheduled for {name} at {time}.")

def display_appointments():
    print("Scheduled Appointments:")
    for index, (name, time) in enumerate(appointments, start=1):
        print(f"{index}. {name} at {time}")

schedule_appointment("Doctor", "10:00 AM")
schedule_appointment("Meeting", "2:00 PM")
display_appointments()

Appointment scheduled for Doctor at 10:00 AM.
Appointment scheduled for Meeting at 2:00 PM.
Scheduled Appointments:
1. Doctor at 10:00 AM
2. Meeting at 2:00 PM

# 10.Store contact info (name, phone number). contacts = ("Anil", "9876543210"), ("Priya", "9123456780")

In [42]:
contacts = [("Anil", "9876543210"),("Priya", "9123456780")]

for contact in contacts:
    print("Name:", contact[0], "| Phone Number:", contact[1])

Name: Anil | Phone Number: 9876543210
Name: Priya | Phone Number: 9123456780

# 11. Display exam schedule with subject and time. exams ("Math", "9:00 AM"), ("Science", "11:30 AM"), ("English", "2:00 PM")

In [45]:
exam_schedule = (("Math", "9:00 AM"),("Math", "9:00 AM"),("English", "2:00 PM"))

print("Exam Schedule:")
for subject, time in exam_schedule:
    print(f"Subject: {subject}, Time: {time}")

Exam Schedule:
Subject: Math, Time: 9:00 AM
Subject: Math, Time: 9:00 AM
Subject: English, Time: 2:00 PM