In [1]:
thisset = set(("apple", "banana", "cherry")) 
print(thisset)

{'apple', 'cherry', 'banana'}

In [3]:
thisset = {"apple", "cherry", "banana"}
for x in thisset:
    print(x)

apple
cherry
banana

In [7]:
thisset = {"apple", "cherry", "banana"}
print("banana" in thisset)
print("banana" not in thisset)

True
False

In [9]:
thisset = {"apple", "cherry", "banana"}
thisset.add("orange")
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}

In [11]:
thisset = {"apple", "cherry", "banana"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'mango', 'papaya', 'cherry', 'pineapple', 'apple', 'banana'}

In [23]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'cherry', 'kiwi', 'banana', 'apple'}

In [25]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)
# If the item to remove does not exist, remove() will raise an error.

{'apple', 'cherry'}

In [27]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)
# Note: If the item to remove does not exist, discard() will NOT raise an error.

{'apple', 'cherry'}

In [29]:
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)
# You can also use the pop() method to remove an item, but this method will remove a random item, so you cannot be sure what item that gets removed.

apple
{'cherry', 'banana'}

In [33]:
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [35]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

NameError: name 'thisset' is not defined

In [37]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
cherry
banana

In [39]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [41]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = set1 | set2
print(set3)

{1, 2, 3, 'b', 'a', 'c'}

In [43]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'cherry', 'b', 'a', 'bananas', 'apple', 'c', 'Elena', 'John'}

In [45]:
x = {"a", "b", "c"}
y = (1, 2, 3)
z = x.union(y)
print(z)

{1, 2, 3, 'b', 'a', 'c'}

In [49]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}

In [51]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.intersection(set2)
print(set3)

{'apple'}

In [53]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 & set2
print(set3)

{'apple'}

In [55]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.intersection_update(set2)
print(set1)

{'apple'}

In [57]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3 = set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [59]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [61]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [65]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [69]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1.symmetric_difference(set2)
print(set3)

{'cherry', 'banana', 'google', 'microsoft'}

In [71]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3 = set1 ^ set2
print(set3)

{'cherry', 'banana', 'google', 'microsoft'}

In [73]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set3)

{'cherry', 'banana', 'google', 'microsoft'}